<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <link rel="stylesheet"  type="text/css" media="screen"
            href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png"
            href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>

    </head>
    <body>

        <div id="header">
            <div id="logo">
                yabe.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">Log in to write something</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="@{ApplicationController.index()}">${blogTitle}</a></h1>
                <h2>${blogBaseline}</h2>
            </div>

        </div>

        <div -d="main">
             #{doLayout /}
        </div>

        <p id="footer">
            Yabe is a (not that) powerful blog engine built with the
            <a herf="http://www.playframework.org">Play framework</a>
            as a tutorial application.
        </p>
    </body>
</html>
